#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define RAISE   1
#define LOWER   2
#define ADJUST   3

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 7>;
            then-layer = <6>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp EQUAL   &kp N1  &kp N2     &kp N3     &kp N4         &kp N5                                         &kp N6          &kp N7     &kp N8            &kp N9             &kp N0         &kp MINUS
&kp TAB     &kp Q   &kp W      &kp E      &kp R          &kp T                                          &kp Y           &kp U      &kp I             &kp O              &kp P          &kp BSLH
&kp ESCAPE  &kp A   &kp S      &kp D      &kp F          &kp G                                          &kp H           &kp J      &kp K             &kp L              &kp SEMICOLON  &kp SQT
&kp GRAVE   &kp Z   &kp X      &kp C      &kp V          &kp B                                          &kp N           &kp M      &kp COMMA         &kp DOT            &kp FSLH       &kp RALT
                    &kp MINUS  &kp EQUAL                                                                                           &kp LEFT_BRACKET  &kp RIGHT_BRACKET
                                          &kp LEFT_META  &kp SPACE                                      &kp LEFT_SHIFT  &kp ENTER
                                                         &mo 1         &kp BACKSPACE  &kp LEFT_CONTROL  &lt 1 DELETE
                                                         &kp LEFT_ALT  &kp DELETE     &none             &none
            >;
        };

        Functions {
            bindings = <
&kp GRAVE  &kp F1    &kp F2          &kp F3        &kp F4      &kp F5                        &kp F6          &kp F7          &kp F8        &kp F9           &kp F10          &kp F11
&trans     &trans    &kp K_PREV      &kp K_PP      &kp K_NEXT  &kp C_VOL_UP                  &kp K_CALC      &kp KP_NUM      &kp INS       &kp SLCK         &kp PRINTSCREEN  &kp F12
&trans     &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT   &kp C_VOL_DN                  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans           &trans
&mo 2      &trans    &trans          &trans        &trans      &kp C_MUTE                    &trans          &trans          &trans        &trans           &trans           &trans
                     &trans          &trans                                                                                  &trans        &trans
                                                   &trans      &trans                        &trans          &trans
                                                               &trans        &trans  &trans  &trans
                                                               &trans        &trans  &trans  &trans
            >;
        };

        Magic {
            bindings = <
&trans  &to 0   &to 3   &to 5   &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans                                                  &trans  &trans
                                &trans  &trans                  &trans  &trans
                                        &trans  &trans  &trans  &trans
                                        &trans  &trans  &trans  &trans
            >;
        };

        Gaming {
            bindings = <
&trans  &trans            &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &to 6
&trans  &trans            &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LEFT_SHIFT    &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LEFT_CONTROL  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                          &trans  &trans                                                  &trans  &trans
                                          &trans  &trans                  &trans  &trans
                                                  &trans  &trans  &trans  &trans
                                                  &trans  &trans  &trans  &trans
            >;
        };

        Gaming_Typing {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &to 3
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans                                                  &trans  &trans
                                &trans  &trans                  &trans  &trans
                                        &trans  &trans  &trans  &trans
                                        &trans  &trans  &trans  &trans
            >;
        };

        Gaming2 {
            bindings = <
&kp ESCAPE      &trans          &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans          &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp LEFT_SHIFT  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&kp LCTRL       &kp LCTRL       &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans                                                  &trans  &trans
                                                &trans  &trans                  &trans  &trans
                                                        &trans  &trans  &trans  &trans
                                                        &trans  &trans  &trans  &trans
            >;
        };

        raise {
            bindings = <
&bt BT_SEL 0  &kp F1    &kp F2     &kp F3     &kp F4   &kp F5                    &kp F6    &kp F7  &kp F8  &kp F9  &kp F10    &kp F11
&bt BT_NXT    &trans    &trans     &trans     &trans   &kp LBKT                  &kp RBKT  &trans  &trans  &trans  &trans     &kp F12
&bt BT_PRV    &kp HOME  &kp PG_UP  &kp PG_DN  &kp END  &kp LPAR                  &kp RPAR  &trans  &trans  &trans  &kp MINUS  &kp PIPE
&bt BT_CLR    &trans    &trans     &trans     &trans   &trans                    &trans    &trans  &trans  &trans  &kp FSLH   &kp UNDER
                        &trans     &kp PSCRN                                                       &trans  &trans
                                              &trans   &trans                    &trans    &trans
                                                       &trans    &trans  &trans  &trans
                                                       &trans    &trans  &trans  &trans
            >;
        };

        Bluetooth {
            bindings = <
&bt BT_CLR  &trans        &trans        &trans        &trans        &trans                        &trans        &trans        &trans        &trans        &trans        &bt BT_CLR
&trans      &trans        &trans        &trans        &trans        &trans                        &trans        &trans        &trans        &trans        &trans        &trans
&trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &trans
&trans      &trans        &trans        &trans        &trans        &trans                        &trans        &trans        &trans        &trans        &trans        &trans
                          &trans        &trans                                                                                &trans        &trans
                                                      &trans        &trans                        &trans        &trans
                                                                    &bootloader   &trans  &trans  &bootloader
                                                                    &trans        &trans  &trans  &trans
            >;
        };
    };
};
